schema/AU_CDA_Schema_3.0/EXTENSION.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  *****************************************************************
  This specification should in no circumstance be used in the development of, or at runtime
  by, systems which perform processing of personal or patient data in a clinical or operational
  setting, or in the provision of medical or therapeutic advice or treatment in a clinical or 
  operational setting. 
  *****************************************************************
  -->
<xs:schema targetNamespace="http://ns.electronichealth.net.au/Ci/Cda/Extensions/3.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:ext="http://ns.electronichealth.net.au/Ci/Cda/Extensions/3.0"
	elementFormDefault="qualified" xmlns:hl7="urn:hl7-org:v3">
	<xs:include schemaLocation="datatypes-V3_0.xsd"/>
	<xs:include schemaLocation="datatypes-base-V3_0.xsd"/>
	<xs:include schemaLocation="voc-V3_0.xsd"/>
	<xs:import namespace="urn:hl7-org:v3" schemaLocation="POCD_MT000040-AU-V1_0.xsd"/>

	<!-- Extension: methodCode -->
	<xs:element name="methodCode" type="hl7:CD"/>

	<!-- Extension: asIngredient -->
	<xs:element name="asIngredient" type="ext:Ingredient"/>

	<!-- Extension: controlAct -->
	<xs:element name="controlAct" type="ext:ControlAct"/>

	<!-- Extension: asEmployment -->
	<xs:element name="asEmployment" type="ext:Employment"/>

	<!-- Extension: asQualifications  -->
	<xs:element name="asQualifications" type="ext:Qualifications"/>

	<!-- Extension: asQualifiedEntity  -->
	<xs:element name="asQualifiedEntity" type="ext:Qualifications"/>

	<!-- Extension: subjectOf1 for Policy (Pursuant to Regulation 24) & State Authority Number-->
	<xs:element name="subjectOf1" type="ext:Subject1"/>

	<!-- Extension: subjectOf2 for SubstitutionPermission (Brand Substitute Allowed) -->
	<xs:element name="subjectOf2" type="ext:Subject2"/>

	<!-- Extension: coverage for Authority Approval Number & Medical Benefit Category Type -->
	<xs:element name="coverage" type="ext:Coverage"/>

	<!-- Extension: coverage2 for Entitlement or Professional Qualification -->
	<xs:element name="coverage2" type="ext:Coverage2"/>

	<!-- Extension: deceasedInd for patient.deceasedInd -->
	<xs:element name="deceasedInd" type="hl7:BL"/>
	
	<!-- Extension: deceasedTime for patient.deceasedTime -->
	<xs:element name="deceasedTime" type="hl7:TS"/>

	<!-- Extension: code for intendedRecipient.code -->
	<xs:element name="code" type="hl7:CE"/>

	<!-- Extension: completionCode for ClinicalDocument.completionCode -->
	<xs:element name="completionCode" type="hl7:CE"/>

	<!-- Extension: asEntityIdentifier for Entity Identifier and Identifier -->
	<xs:element name="asEntityIdentifier" type="ext:EntityIdentifier"/>

	<!-- Extension: administrativeGenderCode for gender-->
	<xs:element name="administrativeGenderCode" type="hl7:CE"/>

	<!-- Extension: personalRelationShip for relationship to patient -->
	<xs:element name="personalRelationship" type="ext:PersonalRelationship"/>

	<!-- Extension: birthTime. This extension may be removed in a future release. -->
	<xs:element name="birthTime" type="hl7:TS"/>

	<!-- Extension: asSpecimenInContainer for specimen container -->
	<xs:element name="asSpecimenInContainer" type="ext:SpecimenInContainer"/>

	<!-- Extension: multipleBirthInd for multiple birth indicator type -->
	<xs:element name="multipleBirthInd" type="hl7:BL"/>

	<!-- Extension: multipleBirthOrderNumber for multiple birth order number -->
	<xs:element name="multipleBirthOrderNumber" type="hl7:INT"/>

	<!-- Extension: name for organisation name -->
	<xs:element name="name" type="hl7:ON"/>

	<!-- Extension: telecom -->
	<xs:element name="telecom" type="hl7:TEL"/>

	<!-- Extension: addr for Address -->
	<xs:element name="addr" type="hl7:AD"/>

	<!--Extension: asOrganizationPartOf -->
	<xs:element name="asOrganizationPartOf" type="ext:OrganizationPartOf"/>

	<!-- Extension: formCode -->
	<xs:element name="formCode" type="hl7:CD"/>

	<!-- Extension: ethnicGroupCode for subjectPerson.ethnicGroupCode -->  
	<xs:element name="ethnicGroupCode" type="hl7:CE" />

	<!-- Extension: id for subjectPerson.id -->
	<xs:element name="id" type="hl7:II" />

	<!-- Extension: desc -->
	<xs:element name="desc" type="hl7:ST"/>
	
	<!-- Extension: languageCommunication -->
	<xs:element name="languageCommunication" type="hl7:POCD_MT000040.LanguageCommunication"/>
	
	<!-- Extension: interpreterRequiredInd-->
	<xs:element name="interpreterRequiredInd" type="hl7:BL" />
	
	<!-- Extension: admissionReferralSourceCode -->
	<xs:element name="admissionReferralSourceCode" type="hl7:CE"/>

	<!-- Extension: expirationTime -->
	<xs:element name="expirationTime" type="hl7:TS"/>

	<!-- Extension: dischargeDispositionCode -->
	<xs:element name="dischargeDispositionCode" type="hl7:CE" />

	<!-- Extension: inFulfillmentOf1 -->
	<xs:element name="inFulfillmentOf1" type="ext:InFulfillmentOf1"/>

	<!-- Begin Ingredient Extension -->
	<xs:complexType name="Ingredient">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ingredientManufacturedMaterial" type="ext:ManufacturedMaterial" minOccurs="0" maxOccurs="1"/>
			<xs:element name="quantity" type="hl7:RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7:RoleClassRoot" use="required" fixed="INGR"/>
	</xs:complexType>
	<!-- End Ingredient Extension -->
	
	<!-- Begin ManufacturedMaterial Extension -->
	<xs:complexType name="ManufacturedMaterial">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7:CV" minOccurs="0"/>
			<xs:element name="desc" type="hl7:ED" minOccurs="0"/>
			<xs:element name="expirationTime" type="hl7:IVL_TS" minOccurs="0"/>
			<xs:element name="quantity" type="hl7:RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7:EntityClass" use="required" fixed="MMAT"/>
		<xs:attribute name="determinerCode" type="hl7:EntityDeterminer" use="required" fixed="KIND"/>
	</xs:complexType>
	<!-- End ManufacturedMaterial Extension -->

	<!-- Begin ControlAct Extension -->
	<xs:complexType name="ControlAct">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="ext:typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7:CD"/>
			<xs:element name="text" type="hl7:ED" minOccurs="0"/>
			<xs:element name="statusCode" type="hl7:CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="hl7:IVL_TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="hl7:CE" minOccurs="0"/>
			<xs:element name="subject" type="hl7:POCD_MT000040.Subject" minOccurs="0"/>
			<xs:element name="specimen" type="hl7:POCD_MT000040.Specimen" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="performer" type="hl7:POCD_MT000040.Performer2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="author" type="hl7:POCD_MT000040.Author" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="informant" type="hl7:POCD_MT000040.Informant12" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="participant" type="hl7:POCD_MT000040.Participant2" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="entryRelationship" type="hl7:POCD_MT000040.EntryRelationship" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reference" type="hl7:POCD_MT000040.Reference" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="precondition" type="hl7:POCD_MT000040.Precondition" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7:ActClass" use="required" fixed="CACT"/>
		<xs:attribute name="moodCode" type="hl7:x_DocumentActMood" use="required"/>
		<xs:attribute name="negationInd" type="hl7:bl" use="optional"/>
	</xs:complexType>
	<!-- End ControlAct Extension -->

	<!-- Begin Employment Extension -->
	<xs:complexType name="Employment">
		<xs:sequence>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7:CE" minOccurs="0"/>
			<xs:element name="effectiveTime" type="hl7:IVL_TS" minOccurs="0"/>
			<xs:element name="jobCode" type="hl7:CE" minOccurs="0"/>
			<xs:element name="jobClassCode" type="hl7:CE" minOccurs="0"/>
			<xs:element name="employerOrganization" type="hl7:POCD_MT000040.Organization" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7:EntityClass" use="required" fixed="EMP"/>
	</xs:complexType>
	<!-- End Employment Extension -->

	<!-- Begin Qualifications Extension -->
	<xs:complexType name="Qualifications">
		<xs:sequence>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7:CE" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7:EntityClass" use="required" fixed="QUAL"/>
	</xs:complexType>
	<!-- End Qualifications Extension -->

	<!-- Begin Coverage2 Extension -->
	<xs:complexType name="Coverage2">
		<xs:sequence>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Extension: entitlement -->
			<xs:element name="entitlement" type="ext:Entitlement"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" fixed="COVBY"/>
	</xs:complexType>
	<!-- End Coverage2 Extension -->
	
	<!-- Begin Entitlement Extension -->
	<xs:complexType name="Entitlement">
		<xs:sequence>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7:II" maxOccurs="1"/>
			<xs:element name="code" type="hl7:CD" minOccurs="1" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="hl7:IVL_TS" minOccurs="0"/>
			<!-- Extension: participant -->
			<xs:element name="participant" type="ext:Participant" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7:EntityClass" use="required" fixed="COV"/>
		<xs:attribute name="moodCode" type="hl7:ActMood" use="required" fixed="EVN"/>
	</xs:complexType>
	<!-- End Entitlement Extension -->
	
	<!-- Begin Participant Extension -->
	<xs:complexType name="Participant">
		<xs:sequence>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Extension: participantRole -->
			<xs:element name="participantRole" type="ext:ParticipantRole" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="typeCode" type="hl7:ParticipationType"/>
	</xs:complexType>
	<!-- End Participant Extension -->
	
	<!-- Begin ParticipantRole Extension -->
	<xs:complexType name="ParticipantRole">
		<xs:sequence>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7:II" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7:RoleClass"/>
	</xs:complexType>
	<!-- End ParticipantRole Extension-->

	<!-- Begin EntityIdentifier Extension -->
	<xs:complexType name="EntityIdentifier">
		<xs:sequence>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7:II" minOccurs="1"/>
			<xs:element name="code" type="hl7:CE" minOccurs="0" maxOccurs="1"/>
			<xs:element name="assigningGeographicArea" type="ext:GeographicArea" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7:EntityClass" use="required" fixed="IDENT"/>
	</xs:complexType>
	<!-- End EntityIdentifier Extension -->
	
	<!-- Begin GeographicArea Extension -->
	<xs:complexType name="GeographicArea">
		<xs:sequence>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="name" type="hl7:ST" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7:EntityClass" use="required" fixed="PLC"/>
		<xs:attribute name="determinerCode" type="hl7:EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<!-- End GeographicArea Extension -->

	<!-- Begin PersonalRelationship Extension -->
	<xs:complexType name="PersonalRelationship">
		<xs:sequence>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7:II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="code" type="hl7:CD" minOccurs="1" maxOccurs="1"/>
			<xs:element name="addr" type="hl7:AD" minOccurs="0" maxOccurs="1"/>
			<xs:element name="telecom" type="hl7:TEL" minOccurs="0" maxOccurs="1"/>
			<xs:element name="statusCode" type="hl7:CS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="effectiveTime" type="hl7:IVL_TS" minOccurs="0" maxOccurs="1"/>
			<xs:element name="asPersonalRelationship" type="hl7:POCD_MT000040.Patient" nillable="true" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7:RoleClass" use="optional" fixed="PRS"/>
		<xs:attribute name="negationInd" type="xs:boolean" use="optional"/>
	</xs:complexType>
	<!-- End PersonalRelationship Extension -->

	<!-- Begin SpecimenInContainer Extension -->
	<xs:complexType name="SpecimenInContainer">
		<xs:sequence>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="container" type="ext:Container" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="classCode" type="hl7:EntityClass" use="required" fixed="CONT"/>
	</xs:complexType>
	<!-- End SpecimenInContainer Extension -->
	
	<!-- Begin Container Extension -->
	<xs:complexType name="Container">
		<xs:sequence>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7:II" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- End Container Extension -->

	<!-- Begin OrganizationPartOf Extension -->
	<xs:complexType name="OrganizationPartOf">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="ext:typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7:CE" minOccurs="0"/>
			<xs:element name="statusCode" type="hl7:CS" minOccurs="0"/>
			<xs:element name="effectiveTime" type="hl7:IVL_TS" minOccurs="0"/>
			<xs:element name="wholeEntity" type="ext:Entity" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7:RoleClass" use="optional" fixed="PART"/>
	</xs:complexType>
	<!-- End OrganizationPartOf Extension -->
	
	<!-- Begin Entity Extension -->
	<xs:complexType name="Entity">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="ext:typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7:CE" minOccurs="0"/>
			<!-- Extension: name -->
			<xs:element ref="ext:name" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="desc" type="hl7:ED" minOccurs="0"/>
			<!-- Extension: telecom -->
			<xs:element ref="ext:telecom" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Extension: addr -->
			<xs:element ref="ext:addr" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="asOrganizationPartOf" type="ext:OrganizationPartOf" minOccurs="0"/>
			<!-- Extension: asEntityIdentifier -->
			<xs:element ref="ext:asEntityIdentifier" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7:EntityClassRoot" use="optional" default="ENT"/>
		<xs:attribute name="determinerCode" type="hl7:EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<!-- End Entity Extension -->
	
	<!-- Begin typeId Extension -->
	<xs:complexType name="typeId">
		<xs:complexContent>
			<xs:restriction base="hl7:II">
				<xs:attribute name="root" type="hl7:uid" use="required" fixed="2.16.840.1.113883.1.3"/>
				<xs:attribute name="extension" type="hl7:st" use="required"/>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<!-- End typeId Extension -->

	<!-- Start FieldOfPractice Extension -->
	<xs:complexType name="FieldOfPractice">
		<xs:sequence>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7:CE" minOccurs="0"/>
			<xs:element name="effectiveTime" type="hl7:IVL_TS" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7:EntityClass" use="required" fixed="QUAL"/>
	</xs:complexType>
	<!-- End FieldOfPractice Extension -->

	<!-- Begin Subject1 Extension -->
	<xs:complexType name="Subject1">
		<xs:sequence>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="policy" type="ext:Policy" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7:ParticipationTargetSubject" use="optional" fixed="SBJ"/>
	</xs:complexType>
	<!-- End Subject1 Extension -->
	
	<!-- Begin Policy Extension -->
	<xs:complexType name="Policy">
		<xs:sequence>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7:II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="code" type="hl7:CD" minOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7:ActClass" use="required" fixed="JURISPOL"/>
		<xs:attribute name="moodCode" type="hl7:ActMood" use="required" fixed="PERM"/>
	</xs:complexType>
	<!-- End Policy Extension -->

	<!-- Begin Subject2 Extension -->
	<xs:complexType name="Subject2">
		<xs:sequence>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="substitutionPermission" type="ext:SubstitutionPermission"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" type="hl7:ActRelationshipType" use="optional" fixed="SUBJ"/>
	</xs:complexType>
	<!-- End Subject2 Extension -->
	
	<!-- Begin SubstitutionPermission Extension -->
	<xs:complexType name="SubstitutionPermission">
		<xs:sequence>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="hl7:CE" minOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7:ActClass" use="required" fixed="SUBST"/>
		<xs:attribute name="moodCode" type="hl7:ActMood" use="required" fixed="PERM"/>
	</xs:complexType>
	<!-- End SubstitutionPermission Extension -->

	<!-- Begin Coverage Extension -->
	<xs:complexType name="Coverage">
		<xs:sequence>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="policyOrAccount" type="ext:PolicyOrAccount"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="typeCode" use="optional" fixed="COVBY"/>
	</xs:complexType>
	<!-- End Coverage Extension -->
	
	<!-- Begin PolicyOrAccount Extension -->
	<xs:complexType name="PolicyOrAccount">
		<xs:sequence>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7:II" minOccurs="0" maxOccurs="1"/>
			<xs:element name="code" type="hl7:CD" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
		<xs:attribute name="classCode" type="hl7:ActClass" use="required" fixed="COV"/>
		<xs:attribute name="moodCode" type="hl7:ActMood" use="required" fixed="PERM"/>
	</xs:complexType>
	<!-- End PolicyOrAccount Extension -->

	<!-- Begin InFulfillmentOf1 Extension -->
	<xs:complexType name="InFulfillmentOf1">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="actReference" type="ext:ActReference"/>
		</xs:sequence>
		<xs:attribute name="typeCode" type="hl7:ActRelationshipFulfills" use="required" fixed="FLFS"/>
		<xs:attribute name="inversionInd" type="hl7:bl" use="optional"/>
		<xs:attribute name="negationInd" type="hl7:bl" use="optional"/>
	</xs:complexType>
	<!-- End InFulfillmentOf1 Extension -->
	
	<!-- Begin ActReference Extension -->
	<xs:complexType name="ActReference">
		<xs:sequence>
			<xs:element name="realmCode" type="hl7:CS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="typeId" type="hl7:POCD_MT000040.InfrastructureRoot.typeId" minOccurs="0"/>
			<xs:element name="templateId" type="hl7:II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="id" type="hl7:II" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="classCode" type="hl7:ActClass" use="required"/>
		<xs:attribute name="moodCode" type="hl7:x_DocumentActMood" use="required"/>
		<xs:attribute name="determinerCode" type="hl7:EntityDeterminer" use="optional" fixed="INSTANCE"/>
	</xs:complexType>
	<!-- End ActReference Extension-->

</xs:schema>
